body {
  background-image: url("https://images.unsplash.com/photo-1520531158340-44015069e78e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMGNpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
 
}

 a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: gold;
  background-color: transparent;
  text-decoration: underline;
}

.header {
  color:skyblue;
  font-size:70px;
  text-align:center;
  background-color: #44444444;
  border-radius:100px;
  float:left;
  padding:10px;
   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
 
}

.one {
  font-size:25px;
  color: white;
   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  padding:30px;
}

.back {
  font-size:50px;
  float:right;
  display:inline-block;
  background: linear-gradient(45deg,#87adfe, #ff77cd);
  border-radius: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration:none;
  color: #fff;
  box-shadow:3px 8px 22px rgba(94,28,6)
  
}

.back:hover {
  display:inline-block;
  background: linear-gradient(45deg,#87adfe, #ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration:none;
  color: #fff;
  box-shadow:3px 8px 22px rgba(94,28,6,0.15);
 
}
  .arrow-icons {
    margin: 40px;
    display: flex;
  }

.arrow-icons img {
  width:40px;
  margin-right:25px;
  
}
